[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
tortoise-orm = "*"
uvicorn = "*"
asyncpg = "*"
gunicorn = "*"
python-jose = "*"
argon2-cffi = "*"
ecdsa = "*"
aerich = "*"
packaging = "*"
fastapi-users = {extras = ["tortoise-orm"],version = "*"}

[requires]
python_version = "3.9"
